@import url("https://fonts.cdnfonts.com/css/helvetica-neue-9");
.navbar ul li a {
  color: white;
}

.navbar ul li a:hover {
  color: gray;
}

.pg1 {
  background-image: url(svg/bg.svg);
  background-repeat: no-repeat !important;
  background-size: cover;
  min-height: 600px;
}

.pg2 {
  min-height: 1384px;
  background-color: #272B30;
}
.pg2 .infoebi {
  color: white;
  display: flex;
  justify-content: space-around;
}
.pg2 .infoebi .txtdiv {
  text-align: center;
  max-width: 620px;
  padding: 90px 145px;
}
.pg2 .infoebi .txtdiv .btn {
  width: 140px;
  height: 32px;
  text-align: center;
  background-color: #5A54F9;
  color: white;
  padding: 0;
  margin-top: 20px;
}
.pg2 .infoebi .txtdiv .btn:hover {
  background-color: #5b59a1;
}
.pg2 .infoebi .txtdiv h1 {
  font-family: Helvetica Neue;
  font-size: 36px;
  font-weight: 700;
  line-height: 45px;
  letter-spacing: 0em;
  text-align: left;
}

.infoebi2 {
  color: white;
  display: flex;
  justify-content: space-around;
}
.infoebi2 .txtdiv2 {
  text-align: center;
  max-width: 620px;
  padding: 90px 145px;
}
.infoebi2 .txtdiv2 .btn {
  width: 140px;
  height: 32px;
  text-align: center;
  background-color: #5A54F9;
  color: white;
  padding: 0;
  margin-top: 20px;
}
.infoebi2 .txtdiv2 .btn:hover {
  background-color: #5b59a1;
}
.infoebi2 .txtdiv2 h1 {
  font-family: Helvetica Neue;
  font-size: 36px;
  font-weight: 700;
  line-height: 45px;
  letter-spacing: 0em;
  text-align: left;
}

.infoebi3 {
  color: white;
  display: flex;
  justify-content: space-around;
}
.infoebi3 .txtdiv3 {
  text-align: center;
  max-width: 620px;
  padding: 90px 145px;
}
.infoebi3 .txtdiv3 .btn {
  width: 140px;
  height: 32px;
  text-align: center;
  background-color: #5A54F9;
  color: white;
  padding: 0;
  margin-top: 20px;
}
.infoebi3 .txtdiv3 .btn:hover {
  background-color: #5b59a1;
}
.infoebi3 .txtdiv3 h1 {
  font-family: Helvetica Neue;
  font-size: 36px;
  font-weight: 700;
  line-height: 45px;
  letter-spacing: 0em;
  text-align: left;
}

@media (max-width: 1000px) {
  .infoebi {
    flex-wrap: wrap;
    text-align: center;
  }
  .infoebi .txtdiv {
    padding: 0 !important;
    margin: auto;
  }
  .infoebi img {
    margin: auto;
  }
  .infoebi2 {
    flex-wrap: wrap;
    text-align: center;
  }
  .infoebi2 .txtdiv2 {
    padding: 0 !important;
    margin: auto;
  }
  .infoebi2 img {
    margin: auto;
  }
  .infoebi3 {
    flex-wrap: wrap;
    text-align: center;
  }
  .infoebi3 .txtdiv3 {
    padding: 0 !important;
    margin: auto;
  }
  .infoebi3 img {
    margin: auto;
  }
  .linkebi {
    margin-top: 100px !important;
  }
}
@media (max-width: 600px) {
  .infoebi img {
    display: none;
  }
  .infoebi2 img {
    display: none;
  }
  .infoebi3 img {
    display: none;
  }
  .pg2 {
    min-height: 1000px;
  }
}
.navbar-toggler img {
  width: 40px;
  min-height: 40px;
}

.linkebi {
  background-color: black;
  max-width: 2000;
  min-height: 100px;
  padding-top: 1%;
  margin: auto;
  border-radius: 8px;
  border: black 2px;
  display: flex;
  justify-content: space-around;
}
.linkebi img {
  margin-left: 16px;
}

footer {
  min-height: 324px;
  background-color: black;
  display: flex;
}

.logosdivi {
  position: absolute;
  max-width: 155px;
  margin-top: 131px;
  margin-left: 136px;
}
.logosdivi .divipatara {
  text-align: center;
  margin-top: 10px;
}
.logosdivi .divipatara img {
  margin-left: 5px;
}

.row {
  width: 80% !important;
}
.row ul h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

@media (min-width: 768px) {
  .col-md-3 {
    width: 25%;
  }
}
.container {
  margin-left: 400px;
}

@media (max-width: 1200px) {
  .linkebi {
    flex-wrap: wrap;
  }
  .container {
    text-align: center;
    margin: auto;
  }
  .container .row {
    justify-content: space-between;
    display: flex;
  }
  .logosdivi {
    display: none;
  }
}
.col-md-3 {
  padding-top: 20px;
}
.col-md-3 h5 {
  color: #EFF2F7;
}
.col-md-3 ul li a {
  text-decoration: none;
  color: #EFF2F7;
}

.infoebi3 .txtdiv3 h1 {
  font-family: Helvetica Neue;
  font-size: 36px;
  font-weight: 700;
  line-height: 45px;
  letter-spacing: 0em;
  text-align: center;
}

.infoebi2 .txtdiv2 h1 {
  font-family: Helvetica Neue;
  font-size: 36px;
  font-weight: 700;
  line-height: 45px;
  letter-spacing: 0em;
  text-align: center;
}

@media (max-width: 768px) {
  .row {
    width: auto !important;
  }
}
@media (min-width: 768px) {
  .container, .container-md, .container-sm {
    max-width: 1000px;
  }
}
@media (min-width: 768px) {
  .col-md-3 {
    width: 25%;
  }
}/*# sourceMappingURL=app.css.map */